body{
    background-color: rgb(23, 24, 47);
}

.contain{
    max-width: auto;
    margin: auto;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.gallery{
    margin: 5px;
    border: 1px solid aqua;
    float: left;
    width: 32%;
    height: 275px;
    position: relative;
    background-color: rgb(23, 24, 90);
}

.gallery img{
    width: 300px;
    height: 150px;
    display: block;
    padding: 10px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.desc{
    padding: 15px;
    text-align: center;
    color: rgb(255,81,81);
}

button{
    position: relative;
    padding: 10px;
    font-size: 16px;
    margin: 4px 2px;
    color: aqua;
    background-color: rgb(23, 24, 90);
    left: 180px;
    border-radius: 5px;
    border: 1px solid aqua;
}

.topbar{
    text-align: center;
    color: rgb(255,81,81);
    background-color: rgb(23, 24, 90);
    padding: 35px;
    font-size: 55px;
    border: 1px solid aqua;
}
